[color]
          ui = always
[user]
          name = Aoxiang Cui
                  email = cuiaoxiang@gmail.com
[alias]
          lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

